@model Contact

<section class="max-size" id="about">
    <div class="container">
        <div class="margins">
            <h2 style="text-align:center;">O mnie</h2>
        </div>
    </div>
</section>
<section class="max-size skills" id="skills">
    <div class="container">
        <div class="margins">
            <h2 style="text-align:center">Umiejętności</h2>
        </div>
    </div>
</section>
<section class="max-size" id="contact">
    <div class="container">
        <div class="row margins">
            <h2 style="text-align:center;">Zapraszam do kontaktu</h2>
            <form class="form-horizontal col-md-12" method="post" asp-controller="Home" asp-action="Index" id="data-form" data-ajax="true" >
                <div class="col-md-6 form-group">
                    <label asp-for="FromEmail" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="FromEmail" class="form-control" name="FromEmail"/>
                        <span asp-validation-for="FromEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Subject" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="Subject" class="form-control" name="Subject"/>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="Text" class="col-md-2"></label>
                    <div class="col-md-12">
                        <textarea asp-for="Text" rows="7" class="form-control" name="Text"></textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function(){
            $('#data-form').submit(function(e){
                e.preventDefault();
                
                var data = {
                    FromEmail: $("input[name='FromEmail']", this).val(),
                    Subject: $("input[name='Subject']", this).val(),
                    Text: $("textarea[name='Text']", this).val()
                }
                
                $.ajax({
                    url: 'Index',
                    type: 'post',
                    dataType: 'json',
                    data: data,
                }).done(function(data, textStatus, jqXHR){
                    console.log(data.result);
                }).fail(function(jqXHR, textStatus, errorThrown){
                    console.log("Nie wysłano danych");
                });
            });
        });
    </script>
}