@model Contact

<section class="max-size" id="about">
    <div class="container">
        <div class="margins">
            <h2 style="text-align:center;">O mnie</h2>
        </div>
    </div>
</section>
<section class="max-size skills" id="skills">
    <div class="container">
        <div class="margins">
            <h2 style="text-align:center">Umiejętności</h2>
        </div>
    </div>
</section>
<section class="max-size" id="contact">
    <div class="container">
        <div class="row margins">
            <form class="form-horizontal col-md-12" method="post" asp-controller="Home" asp-action="SendEmail" id="data-form">
                <div class="col-md-6 form-group">
                    <label asp-for="FromEmail" class="col-md-2">Email: </label>
                    <div class="col-md-10">
                        <input type="text" asp-for="FromEmail" class="form-control"/>
                        <span asp-validation-for="FromEmail"></span>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Subject" class="col-md-2">Temat: </label>
                    <div class="col-md-10">
                        <input type="text" asp-for="Subject" class="form-control"/>
                        <span asp-validation-for="Subject"></span>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="Text" class="col-md-12">Treść: </label>
                    <div class="col-md-12">
                        <textarea asp-for="Text" rows="7" class="form-control"></textarea>
                        <span asp-validation-for="Subject"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $('#data-form').submit(function(e){
                e.preventDefault();

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: new FormData(this),
                    cache: false,
                    success: function(data){
                        console.log(data + "Poprawnie wysłano formularz.");
                    },
                    error: function(xhr, error, status){
                        console.log(error, status);
                    }
                });
            });
        });
    </script>
}