body{height: 100%; font-family: Arial, Helvetica, sans-serif}
html{height: 100%;}

/* BACKGROUND */
.bgded{background-position: top center; background-repeat: no-repeat; background-size: cover; background-image:url("../../images/backgrounds/01.png")}
.max-size{min-height: 100%; max-height: 100%; }

/*FLOAT*/
.fl-left{float: left}
.fl-right{float: right}

.border{border-style: solid; border-width: 1px; border-color: silver; margin: 55px 20px 20px 20px; }

.nav-ul{ display: inline-block}
.nav-ul li a{color: white;}
.nav-ul li i{color: gold;}

.skills{background-color: aqua}