body{height: 100%; font-family: Arial, Helvetica, sans-serif}
html{height: 100%; min-height:100%; max-height: 100%;}

/* BACKGROUND */
.bgded{background-position: top center; background-repeat: no-repeat; background-size: cover; background-image:url("../images/backgrounds/computer-1209641_1280.jpg")}
.max-size{min-height: 100%; max-height: 100%; width: 100%; display: table;}

/*FLOAT*/
.fl-left{float: left}
.fl-right{float: right}

.border{border-style: solid; border-width: 1px; border-color: silver;}

.ali:hover{font-size: 20px;}
.nav-ul li a i{color: white;}

.skills{background: linear-gradient(to bottom, white 0%, rgb(0, 123, 255) 100%);}

.margins{ margin: 55px 20px 20px 20px; }

#first-p {
    text-align: center;
    margin-top: 23%;
    font-weight: bold;
    font-size: 70px;
    color: white;
}
